// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card-houses img {
    height: 500px;

}

.tabs-underlined {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #282424;
  }
  
.tabs-underlined .tab-underlined {
    color: white;
    padding: 8px;
    margin: 8px 16px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}

.content-wrapper {
    min-height: calc(100vh - 70px - 80px);
}