// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.histoire {
  padding: 30px;
  background-color: black;
}

.histoire h2 {
  text-align: center;
  font-size: xx-large;
  color: wheat;
}

.histoire p {
  font-family: 'Lora', serif;
  font-size: xx-large;
  color: wheat;
}