<div class="page">
  <div class="container" style="background-color: tan;">
    <div>
      <%=video_tag "Home tour.mp4", height: "auto", width: "100%", autoplay: true, loop: true%>
    </div>
    <h1>Les Categories</h1>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?van-vw)">
        Van
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?container-house)">
        Conteneur
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?cabin)">
        Tiny house
      </div>
    </div>
  </div>

  <div style="background-color: tan">
    <h2>Nos meilleures démos</h2>
    <div>Video1</div>
    <div>Video2</div>
    <div>Video3</div>
    <p class>Vous avez vu une vidéo inspirante ? Ajoutez-la !</p>
  </div>
</div>

