<div class="container" style="background-color: tan;">
  <div>
    <%=video_tag "Hometour.mp4", height: "auto", width: "100%", autoplay: true, loop: true%>
  </div>
  <h1>Les Categories</h1>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?van-vw)">
      Van
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?tree-house)">
      Maison Suspendu
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?cabin)">
      Tiny house
    </div>
  </div>
</div>
<div style="display: flex">
  <div class="histoire">
    <h2>L'histoire de Hometour ?</h2>
    <p>Tout a commencé avec un, puis deux et trois articles sur les maisons appelées tiny house. Je me suis tellement intéressée que j'ai décidé de regrouper toutes les démos
      afin de créer des inspirer<br>Pour ceux qui ont besoin d'un chez soi qui leur ressemble car personnaliser et fait de leurs propres mains,
      pour rentrée dans une nouvelle vie. <br>Ici, je partage les maisons fabriquées à partir de matériaux utilisés et ludiques à faire afin d'aspirer 
      les plus aventureux d'entre vous, que ce soit pour vivre en pleine nature, être en constante mobilité ou bien se couper du monde.<br> 
      J'espère susciter votre envie de construire votre tiny house que ce soit dans un Van, en pleine forêt voire même face à la mer</p>
  </div>
  <div style="background-image: url(https://source.unsplash.com/1600x900/?adventure); width: 100%; background-size: cover; background-position: center">
  </div>
</div>
