<div class="container">
  <div>
    <%=video_tag "Hometour.mp4", height: "auto", width: "100%", autoplay: true, loop: true%>
  </div>
  <h1>Les Categories</h1>
  <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?van-vw)">
    Van
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?tree-house)">
    Maison Suspendu
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x300/?cabin)">
    Tiny house
  </div>
</div>

</div>
