<div class="container">
  <div>
    <%=video_tag "Hometour.mp4", height: "auto", width: "100%", autoplay: true, loop: true%>
  </div>
  <div class="card-houses">
    <div style="background-image: url(<%=image_path('van-house.jpg')%>)">
      <h3>All we need in a van your house can go with you wherever you want!</h3>
      <button class= "btn btn-ghost"><a href="/house/index">See the van house</a>
    </div>
    <div style="background-image: url(<%=image_path('suspend-house.jpg')%>)">
      <h3>You will see all the magic world with this panoramic view!</h3>
      <button class= "btn btn-ghost"><a href="/house/index">See houses in nature</a>
    </div>
    <div style="background-image: url(<%=image_path('tiny-house.jpg')%>)">
      <h3>The best way to be closer than ever with the nature!</h3>
      <button class= "btn btn-ghost"><a href="/house/index">See tiny houses</a>
    </div>
  </div>
</div>
