<ul class="list-inline tabs-underlined">
    <%= link_to pages_history_path do %> 
        <div class="tab-underlined"> Histoire </div> 
    <% end %>
    <%= link_to pages_demo_path do %> 
        <div class="tab-underlined"> Demonstrations </div>
    <% end %>
</ul>