<ul class="list-inline tabs-underlined">
    <%= link_to root_path do %> 
        <div class="tab-underlined active"> Accueil </div>
    <% end %>
    <%= link_to pages_history_path do %> 
        <div class="tab-underlined"> Histoire </div> 
    <% end %>
        <a href="#" class="tab-underlined"> Categories </a>
    <%= link_to pages_demo_path do %> 
        <div class="tab-underlined"> Demonstrations </div>
    <% end %>
</ul>