<div class="display: flex">
  <div class="histoire">
    <h2>L'histoire de Hometour</h2>
    <p>Tout a commencé avec un, puis deux et trois articles sur les maisons appelées tiny house.
      Je me suis tellement intéressée que j'ai décidé de regrouper toutes les démos afin de créer des inspirer.<br>
      Pour ceux qui ont besoin d'un chez soi qui leur ressemble car personnaliser, fait de leurs propres mains et
      de rentrer dans une nouvelle vie! <br>
      Ici, je partage les maisons fabriquées à partir de contenaire, de matériels trouvés ou dans un van
      ludiques à faire afin d'aspirer les plus aventureux d'entre vous, que ce soit pour vivre en pleine nature,
      être en constante mobilité ou bien se couper du monde!<br>
      J'espère susciter votre envie de construire votre tiny house que ce soit dans un Van, en pleine forêt voire même face à la mer !</p>
  </div>
  <div style="background-image: url(https://source.unsplash.com/1600x900/?adventure); width: 100%; background-size: cover;
    background-position: center"></div>
</div>